{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}
    {% for design in collection %}
        <div class="product card">
            <img alt="" src="/images/designes/{{ design.ImageLO|trim }}">
            <br>
            <a href="{{ path('design', design.uri) }}" class="card-title btn-dark">{{ design.name }}</a>
        </div>
    {% endfor %}
{% endblock %}
